/* Footer Styling */
footer {
  background-color: #333333; /* Dark gray background */
  color: #ffffff; /* White text */
  padding: 10px 20px;
}

footer .container {
  max-width: 2000px;
}

footer .logo img {
  height: 200px; /* Adjust logo size */
}


footer .footer-info h3{
  color:rgb(0, 134, 250);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}



footer .footer-info {
  margin-top: 20px;
}

footer .footer-info p {
  margin: 5px 0;
}

footer .about-us {
  margin-top: 20px;
  max-width: 600px;
  margin-left: 5vh;
}

footer .about-us h3 {
  font-size: 20px;
  color:rgb(0, 134, 250);
  font-weight: 600;
  margin-bottom: 10px;
}

footer .about-us p {
  font-size: 16px;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  footer .container {
      padding: 0 20px;
  }

  footer .footer-info {
      text-align: center;
  }

  footer .about-us {
      text-align: center;
  }

  footer ul {
      justify-content: center;
  }
}
